<h1>Editing restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<br>

<div>
  <%= link_to "Show", @restaurant, class: "btn btn-primary" %> |
  <%= link_to "Back", restaurants_path, class: "btn btn-primary" %>
</div>
